.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    border-bottom: 1px solid rgb(255, 255, 255, .9);
    margin-bottom: 5vh;
    margin-top: 5vh;
    height: 35vh;
    width: 40vw;
}

.header {
    color: rgb(68, 68, 68);
}